

  *{
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
  }
  .flex {
    display: flex;
  }
  .flex.ver-mid {
    align-items: center;
  }
  .flex.center {
    align-items: center;
    justify-items: center;
  }
  .cube-picker-confirm,.cube-picker-cancel {
    color: #0c81ff !important;
  }
